@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Comfortaa";
}

.menu{
    background-color: #1d1d1d;
    opacity: 0.9;
    text-align: center;
    padding:15px;
    position: fixed;
    width:100%;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}

.menu a{
    text-decoration: none;
    color:#dbdbdb;
    padding:50px;
    transition: 0.22s;
}

.menu a:hover{
    color:white;
}

.head{
    background-image:url(1.jpg);
    text-align: center;
    background-size: cover;
    color:white;
    padding:250px 0;
    border-bottom-left-radius:140px;
    border-bottom-right-radius:140px;
    background-attachment: fixed;
}

.head p{
    margin-top:20px;
    font-size:18.7px;
}

.bez{
    display: none;
    
}

.poiv:hover + .bez{
    display: block;
}

.poiv:hover{
    color: rgba(0,0,0,0.0);
    transition:0.6s;
}
.head button{
    border-radius:20px;
    border:none;
    outline: none;
    background-color: black;
    color:white;
    padding:10px 20px;
    margin-top:20px;
    font-size:15px;
    transition:0.15s;
}

.head button:hover{
    cursor: pointer;
    background-color: white ;
    color:black;
    font-weight: bolder;
    font-size: 15px;
    padding:10px 35px;
    text-decoration:underline;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.zaglav{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}

.company p{
    text-align: justify;
    width:85%;
    margin:auto;
    font-size:18.7px;
}

.box{
    background-color:#1d1d1d;
    opacity: 1;
    color:white;
    width:20%;
    text-align: justify;
    padding:25px 30px 15px 30px;
    border-radius:25px;
}

.box h2{
    text-align: center;
    margin-bottom:15px;
}

.box img{
    width:100%;
    border-radius:20px;
    margin-top:25px;
}

.tovar{
    display: flex;
    justify-content:space-evenly;
    background-image: linear-gradient(to bottom, #ffffff 0%, #efe5fd 100%);
}

.zaglav2{
    text-align: center;
    margin-top:25px;
    padding:30px 0 30px 0;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
}

.fiol{
    background-image:url(6.jpg);
    text-align: center;
    background-size: cover;
    padding:300px 0 220px 0;
    background-position-x:0px;
    background-repeat: no-repeat;
}

.fiol button{
    margin:20px 10px 0px 10px;
    padding:10px 15px;
    border:none;
    outline: none;
    border-radius:20px;
    transition:0.15s;
    margin-top:50px;
}

.fiol button:hover{
    cursor: pointer;
    text-decoration:underline;
    padding:10px 30px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.naz{
    text-align: center;
    background-color:#efe5fd ;
    padding-bottom:40px;
}

.text{
    text-align: justify;
    width:95%;
    margin:auto;
    font-size:18.7px;
}

.iphone12{
    text-align: justify;
    width:90%;
    margin:auto;
    font-size:18.7px;
    display: flex;
    justify-content: space-between;
}

.char{
    width:25%;
    padding:15px 40px 15px 40px;
    margin-top:50px;
    transition:0.1s;
    border-radius:30px;
}

.char:hover{
    background-color: #a49cd5;
}


.ch1{
    width:25%;
    padding:15px 40px 15px 40px;
    margin-top:50px;
    transition:0.1s;
    border-radius:30px;
    height:180px;
}

.ch1:hover{
    background-color: #a49cd5;
}

.ch1 h3{
    text-align: center;
}

.ch1 p{
    margin-top:20px;    
}


.ch2{
    width:25%;
    padding:15px 40px 15px 40px;
    margin-top:50px;
    transition:0.1s;
    border-radius:30px;
    height:160px;
}

.ch2:hover{
    background-color: #a49cd5;
}

.ch2 h3{
    text-align: center;
}

.ch2 p{
    margin-top:20px;    
}


.ch3{
    width:25%;
    padding:15px 40px 15px 40px;
    margin-top:50px;
    transition:0.1s;
    border-radius:30px;
    height:120px;
}

.ch3:hover{
    background-color: #a49cd5;
}

.ch3 h3{
    text-align: center;
}

.ch3 p{
    margin-top:20px;    
}

.char h3{
    text-align: center;
}

.char p{
    margin-top:20px;
}


.vse1{

    background-color:#efe5fd ;
}

.zaglav3{
    text-align: center;
    padding-top:20px;
    background-image: linear-gradient(to bottom, #efe5fd 0%, #ffffff 100%);
}

.zaglav3 h3{
    padding-top:20px;
    padding-bottom:15px;
}

.zaglav3 button{
    background-color: #a49cd5;
    padding:10px 15px;
    border:none;
    outline: none;
    border-radius:20px;
    transition:0.15s;
    margin-bottom:20px;
}

.zaglav3 button:hover{
    cursor: pointer;
    text-decoration:underline;
    padding:10px 30px;
    background-color:#ffffff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.ipadimg{
    background-image: url(8.jpg);
    background-size: cover;
    padding:310px 0;
    background-position-x:-20px;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}

.oipad{
    background-color: #e2e9f1;
    color:black;
    width:35%;
    padding:20px 0px 0px 0px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    margin-right: 30px;
    transition:0.25s;
}

.oipad:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.oipad p{
    width:80%;
    margin-top:20px;
    font-size:17px;
    margin-left:50px;
}

.oipad img{
    width:100%;
    padding-top:20px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    margin-top:25px;
}

.oipad h3{
    color:#d44502;
    margin-left:50px;
}


.music{
    background-color: #ffffff;
    color:black;
    width:35%;
    padding:20px 0px 0px 0px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    margin-right: 30px;
    transition:0.25s;
}

.music:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.music p{
    width:80%;
    margin-top:20px;
    font-size:17px;
    margin-left:50px;
}

.music h3{
    color:#d44502;
    margin-left:50px;
}

.music img{
    width:100%;
    padding-top:100px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
}

.anim{
    background-color: #ffffff;
    color:black;
    width:35%;
    padding:20px 10px 0px 0px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    height:700px;
    margin-right: 33px;
    transition:0.25s;
}

.anim:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.anim p{
    width:80%;
    margin-top:20px;
    font-size:17px;
    margin-left:50px;
}

.anim h3{
    color:#d44502;
    margin-left:50px;
}

.anim iframe{
    width:87%;
    padding-top:80px;
    margin-left:34px;
}

.comp{
    background-color: #ffffff;
    color:black;
    width:35%;
    padding:20px 0px 0px 0px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    transition:0.25s;
}

.comp:hover{
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.comp p{
    width:80%;
    margin-top:20px;
    font-size:17px;
    margin-left:50px;
}

.comp h3{
    color:#d44502;
    margin-left:50px;
}

.comp img{
    width:100%;
    padding-top:100px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
}

.vseipad{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%);

}

.mac{
    text-align: center;
    padding-top:60px;
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #ffffff  100%);
    padding-bottom:30px;
}

.mac button{
    padding:10px 15px;
    border:none;
    outline: none;
    border-radius:20px;
    transition:0.15s;
    margin-top:15px;
    background-color:#115361;
    color: white;
}

.mac button:hover{
    cursor: pointer;
    text-decoration:underline;
    padding:10px 30px;
    background-color:#ffffff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    color: black;
}

.macimg{
    background-image: url(14.jpg);
    background-size:85%;
    background-repeat: no-repeat;
    padding:350px 0px;
    background-position-x:+140px;
    color:#ffffff;
    text-align: center;
}

.macimg h2{
    width:25%;
    margin-left: 698px;
    margin-bottom:200px;
}



.zel1{
    padding:0px 200px 0px 200px;
    background-color: #fafafa;
    width:15%;
    margin-left:135px;
    display: inline-block;
    transition:0.3s;
}

.zel1:hover{
    border-radius:50px;
    padding:0px 100px 0px 100px;
}


.zel1 img{
    margin-left:50px;
    margin-top: 180px;
}


.zel2{
    display:inline-block;
    padding:111px 200px 0px 200px;
    background-color:#fafafa;
    margin-left:142px;
    transition:0.3s;
}


.zel2:hover{
    border-radius:50px;
}

.zel2 img{
    display: block;

}

.i2{
    margin-top:60px;
}


.charmac{
    background-image: url(18.png);
    padding:100px 0px 350px 0px;
    background-repeat: no-repeat;
    background-position-x:+440px;
    margin-top:50px;
    background-color: #fafafa;
    border-radius: 100px;
}

.charmac h2{
    width:30%;
    margin: auto;
    margin-top: 30px;
    text-align: justify;
    color: #8a8eff;
    transition:0.15s;
}

.charmac h2:hover{
    color:#d44502;
}

.charmac p{
    width:30%;
    margin: auto;
    margin-top: 30px;
    text-align: justify;
}

.waimg{
    background-image: url(21.jpg);
    background-size: cover;
    padding:300px 0px 300px 0px;
    background-position-x:+20px;
}

.wah1{
    text-align: center;
    padding-top:50px;
    padding-bottom:30px;
}

.wah1 button{
    padding:10px 15px;
    border:none;
    outline: none;
    border-radius:20px;
    transition:0.15s;
    margin-top:15px;
    background-color:#3acae2;
    color:black;
}

.wah1 button:hover{
    cursor: pointer;
    text-decoration:underline;
    padding:10px 30px;
    background-color:#ffffff;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    color: black;
}

.fit img{
    display: inline-block;
}

.fit{
    width:100%;
    background-color: black;
    color: white;
    display: flex;
    align-items:center;
    margin:auto;
}

.fit h4{
    margin-bottom:30px;
    margin-left:100px;
    width:40%;
    font-size:40px;
    
}

.fit p{
    width:50%;
    margin-left:100px;
    font-size:30px;
    color: #86868b;
}

.treni{
    width:30%;
    background-color:#f5f5f7;
    border-radius:30px;
}

.treni img{
    width:100%;
    margin-top:170px;
}

.treni h2{
    width:70%;
    margin: auto;
    padding-top:20px;
}

.treni p{
    width:80%;
    margin-top:15px;
    margin-left:82px;
    color:#515153;
}

.voda{
    width:30%;
    background-color:#f5f5f7;
    border-radius:30px;
}


.voda img{
    width:100%;
    margin-top:139px;
}

.voda h2{
    width:70%;
    margin: auto;
    padding-top:20px;
}

.voda p{
    width:80%;
    margin-top:15px;
    margin-left:82px;
    color:#515153;
}


.zdorov{
    width:30%;
    background-color:#f5f5f7;
    border-radius:30px;
}

.zdorov img{
    width:100%;
}

.zdorov h2{
    width:70%;
    margin: auto;
    padding-top:20px;
}

.zdorov p{
    width:80%;
    margin-top:15px;
    margin-left:82px;
    color:#515153;
}

.wavse{
    display: flex;
    align-items:flex-end;
    justify-content: space-evenly;
    transition:0.5s;
}

.wavse:hover{
    background-color: #f5f5f7;
}
















@media(max-width: 375px){

    .menu{
        position: static;
    }
}